TZ=Europe/Paris

# Database
MYSQL_ROOT_PASSWORD=admin
MYSQL_DATABASE=unicord
MYSQL_HOST=database

# JWT
JWT_SECRET=123
JWT_EXPIRATION=6h

# NGINX
FRONTEND_DOMAIN=unicord.fr
BACKEND_DOMAIN=api.unicord.fr
EMAIL_ADMIN=admin@unicord.fr

# Grafana
GF_SECURITY_ADMIN_PASSWORD=admin
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
GF_USERS_ALLOW_SIGN_UP=false

# Content Moderation AI
GEMINI_API_KEY=