@import "tailwindcss";

@theme {
  --color-bg-main: #09090b;
  --color-bg-secondary: #18181b;
  --color-bg-tertiary: #27272a;

  --color-border-main: #161619;
  --color-border-secondary: #232326;
  --color-border-tertiary: #333338;

  --color-accent-primary: #8b5cf6;
  --color-accent-secondary: #ec4899;
  --color-accent-tertiary: #d946ef;

  --color-font-main: #fafafa;
  --color-font-secondary: #a1a1aa;
  --color-font-tertiary: #52525b;

  --color-error: #e34242;
  --color-border-main: #27272a;
  --radius-main: 16px;
  --spacing-padding-main: 20px;
  --spacing-gap-main: 16px;

  --font-title: "Space Grotesk", sans-serif;
  --font-text: "IBM Plex Sans", sans-serif;
  --font-tech: "JetBrains Mono", monospace;
}

#root {
  padding: 0 !important;
  height: 100%;
  width: 100%;
  max-width: 100dvw !important;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}
